<footer id="footer" class="footer">
    <div id="footer-links" class="footer--links">
        <a class="footer--links--link" href="https://en.wikipedia.org/wiki/Privacy" target="_blank">Privacy</a>
        <a class="footer--links--link" href="https://en.wikipedia.org/wiki/Contact_mechanics" target="_blank">Terms</a>
        <a class="footer--links--link" href="https://en.wikipedia.org/wiki/Terminology" target="_blank">Contact</a>
    </div>
    <div id="copyright" class="footer--copyright">
        <p>&#169 Copyright 2016,</p>
        <p>Original Trombones</p>
    </div>
</footer>