<header id="header" class="header">
    <!-- This is the website logo -->
    <div id="img-div" class="header--img-div">
        <img id="header-img" class="header--img-div--img" src="https://i.imgur.com/wtn2P3k.png" alt="original-trombones-company-logo-img">
    </div>
    <!-- This is the navbar -->
    <nav id="nav-bar" class="header--nav-bar">
        <a href="#features" class="nav-link header--nav-bar--links">Features</a>
        <a href="#how-it-works" class="nav-link header--nav-bar--links">How It Works</a>
        <a href="#pricing" class="nav-link header--nav-bar--links">Pricing</a>
    </nav>
</header>