.footer {
    // * Main
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color--element);

    // * Font
    text-align: right;

    &--links {
        &--link {
            // * Main
            margin: 0 10px;
            
            // * Font
            font-size: 1rem;
            text-decoration: none;
            color: var(--color--text);
        }
    }

    &--copyright {
        p {
            // * Main
            display: inline-block;

            // * Font
            font-size: 0.9375rem;
            color: var(--color--text-2);        
        }
    }
}