
// * Root Font Size
// This is where all REM values will be based on
:root {
    font-size: 16px;
}

// * Root Font Families
:root {
    --font--sans-serif: 'Open Sans', sans-serif;
}

// * Root Colors
:root {
    --color--background: rgba(238, 238, 238, 1);
    --color--element: rgba(221, 221, 221, 1);
    --color--button: rgba(255, 215, 0, 1);
    --color--border: rgba(0, 0, 0, 1);

    --color--text: rgba(0, 0, 0, 1);
    --color--text-2: rgba(68, 68, 102, 1);
}

// * Input Placeholders
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-placeholder);
}